<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LikesApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LikesApp.styles.css" asp-append-version="true" />
</head>
<body>
    <script type="module">
        //import { onClicked } from './src/main.js';

        function onStart() {
            onClicked();
        }

        document.getElementById('search-button').onclick = onStart;
        document.getElementById('search-input').addEventListener('keyup', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                onStart();
            }
        });
    </script>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>