@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <header>
        <h1 id="logo">Сканер лайков</h1>
        <div id="search">
            <div>
                <label for="search-input" class="search-label">Ссылка на профиль:</label>
                <input class="search-input" id="search-input" name="user_url" type="text">
            </div>
            <div>
                <label for="search-cookie" class="search-label">Refresh token:</label>
                <input id="search-cookie" name="cookie_value" type="text">
            </div>
            <input type="button" value="Сканировать" id="search-button">
        </div>
        <div id="urls">
            <a class="url-image" target="_blank" href="https://github.com/Suvitruf/cmtt-comments-likes-stats"><img src="~/images/GitHub-Mark-Light-32px.png" alt="github icon"></a>
            <a class="url-image" target="_blank" href="https://boosty.to/apanasik"><img src="~/images/boosty.png" alt="boosty icon"></a>
            <a class="url-image" target="_blank" href="https://www.patreon.com/suvitruf"><img src="~/images/Patreon_rs.png" alt="patreon icon"></a>
            <a class="url-image" id="paypal-logo" target="_blank" href="https://www.paypal.com/paypalme/andreiapanasik"><img src="~/images/Paypal_rs.png" alt="paypal icon"></a>
            <a class="url-image" target="_blank" href="https://yoomoney.ru/to/41001674710054"><img src="~/images/io_rs.png" alt="yumani icon"></a>
        </div>
    </header>
    <div id="error">
    </div>
    <section id="cards">
        <div class="card" id="card-profile">
            <div class="profile-ava">
                <img id="profile-ava" alt="Avatar placeholder" src="~/images/ava_placeholder.png" />
            </div>
            <div class="profile-info">
                <a id="profile-name" class="profile-datum">

                </a>
                <div id="profile-karma" class="profile-datum ">
                </div>
                <div id="profile-posts" class="profile-datum">
                </div>
                <div id="profile-comments" class="profile-datum">
                    <div id="total-comments">
                    </div>
                    <div id="parsed-comments">
                    </div>
                </div>
            </div>
        </div>


        <div class="card" id="card-progress">
            <div class="card-bar">
                <div class="card-comments-container">
                    <div class="card-comments-progress-counted-block card-info-block">
                        <div class="stat-label">Всего</div>
                        <div id="card-comments-progress-total">0</div>
                    </div>
                    <div class="card-comments-progress-total-block card-info-block">
                        <div class="stat-label">Обработано</div>
                        <div id="card-comments-progress-counted">0</div>
                    </div>
                    <div class="card-comments-progress-time-block card-info-block">
                        <div class="stat-label">Осталось</div>
                        <div id="card-comments-progress-time">🤔</div>
                    </div>
                </div>
                <div class="card-comments-progress-bar-bg">
                    <div id="card-comments-progress-bar"></div>
                </div>
            </div>
            <div class="card-bar">
                <div class="card-likes-container">
                    <div class="card-likes-progress-likes-block card-info-block">
                        <div class="stat-label">Плюсов</div>
                        <div id="card-likes-progress-likes">0</div>
                    </div>
                    <div class="card-likes-progress-dislikes-block card-info-block">
                        <div class="stat-label">Минусов</div>
                        <div id="card-likes-progress-dislikes">0</div>
                    </div>
                    <div class="card-likes-progress-total-block card-info-block">
                        <div class="stat-label">Всего</div>
                        <div id="card-likes-progress-total">0</div>
                    </div>
                </div>
                <div class="card-likes-progress-bar-bg">
                    <div id="card-likes-progress-bar"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="blocks">
        <div class="block-likers block">
            <header class="block-header">
                Топ котят 😊
            </header>
            <div id="likers-list"></div>
        </div>
        <div class="block-dislikers block">
            <header class="block-header">
                Топ хейтеров 😞</br>
                Больше не работает. Скажите спасибо Комитету.
            </header>
            <div id="dislikers-list">
            </div>
        </div>
    </section>
</main>